@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-dark: oklch(85% 0.03 80);
  --color-primary: oklch(90% 0.03 80);
  --color-primary-light: oklch(95% 0.03 80);
  --color-primary-highlight: oklch(99% 0.03 80);
  --color-text-primary: oklch(5% 0.03 80);
  --color-text-primary-muted: oklch(15% 0.03 80);
  --color-accent-red: oklch(35% 0.11 31);
  --color-accent-yellow: oklch(60% 0.08 88);
  --color-accent-yellow-highlight: oklch(70% 0.08 88);
}

@layer base {
  .dark {
    --color-primary-dark: oklch(10% 0.03 80);
    --color-primary: oklch(20% 0.03 80);
    --color-primary-light: oklch(33% 0.03 80);
    --color-primary-highlight: oklch(40% 0.03 80);
    --color-text-primary: oklch(95% 0.03 80);
    --color-text-primary-muted: oklch(90% 0.03 80);
    --color-accent-red: oklch(45% 0.11 31);
    --color-accent-yellow: oklch(60% 0.08 88);
    --color-accent-yellow-highlight: oklch(70% 0.08 88);
    color-scheme: dark;
    @apply dark:text-text-primary;
  }
}

html,
body {
  @apply bg-primary-dark;

  a {
    &.active {
      @apply font-bold bg-primary-light inset-shadow-xs inset-shadow-primary-highlight shadow-sm;
    }

    &:hover {
      @apply bg-primary-light inset-shadow-xs inset-shadow-primary-highlight shadow-sm;
    }
  }
}

h1,
h2 {
  @apply font-bold text-accent-red;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}
